@import ../App

// contenedor 
.main-container
    display: grid
    height: $bodyHeight
    grid-template-areas: "header" "main"
    grid-template-rows: $bodyTemplateRows
    grid-template-columns: $bodyTemplateColumns
    
.header
    grid-area: header
    margin-left: 88px
    display: flex
    height: 100%
    flex-direction: row
    justify-content: space-around
    align-items: center
    

main
    grid-area: main
    height: 100%
    display: flex
    justify-content: center
    padding-top: 4rem
    background-color: red
    margin-left: 88px
    
