tr,td
    height: 20px!important
    line-height: .5
    font-size: .7rem

button
    margin: 0!important
    padding: .1rem!important

td
    vertical-align: middle!important
    margin: 0!important
    padding: .3rem!important
    padding-left: 5rem!important