@import ../commonStyles

.navbar-div
    height: 100px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    align-self: center

.menu-bars
    margin-left: 2.5rem
    font-size: 2rem
    background: none
    color: black

.menu-bars :hover
    color: black


.nav-menu
    background-color: white
    width: 240px
    height: 100vh
    position: fixed
    justify-content: center
    display: flex
    left: -15rem
    transition: 550ms
    padding-top: 50px        

.nav-menu.active
    left: 0rem
    transition: 250ms


.nav-text
    display: flex
    flex-direction: column
    align-items: center
    padding: 8px 0px 8px 0px
    list-style: none
    height: 60px
    
.nav-text a
    text-decoration: none
    color: black
    font-size: 18px
    width: 71%
    height: 100%
    display: flex
    align-items: center
    padding: 0 25px
    border-radius: 4px



// .nav-text-closed a
//     justify-content: center
//     width: 5%
//     display: flex
//     align-self: center
//     margin-right: -10rem

.nav-text a:hover
    background-color: black
    color: white
    text-decoration: none

.nav-menu-items
    width: 100%
    

.navbar-toggle
    width: 100%
    height: 80px
    display: flex
    justify-content: flex-start
    align-items: center

span
    margin-left: 16px