//Importo fuente de estilo
@import url('http://fonts.googleapis.com/css2?family=Lato&display=swap')

// Formatos comunes
*
    box-sizing: border box
    margin: 0
    padding: 0
    font-family: 'Lato', sans-serif

// colores usados en proyecto
$grey: #e6e6e6
$red:  #c42727
$bodyHeight: 83vh
$bodyTemplateRows: 70px 1fr
$bodyTemplateColumns: 1fr

// Estilo personalizado para las vistas enrutadas

h1,h2
    margin: 0!important
    padding: 0!important

//Tamaños de pantalla
$mobile: 720px
$desktop: 721px

// Formato para el footer

footer > div
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
    padding-right: 1rem
    font-size: .8rem
    font-weight: bolder
